<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>characters</title>

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet"
          th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <br>
    <div>
    </div>
    <h2 th:if="${list.isEmpty()}">no hay personajes</h2>
    <div th:if="${!list.isEmpty()}">
        <h2>characters</h2>

        <div class="row row-cols-1 row-cols-md-4" >
            <div class="col mb-4" th:each="personage : ${list}">
                <div class="card" >
                    <img class="img-thumbnail rounded mx-auto d-block" th:src="@{'/img/personage/' + ${personage.image}}" alt="Responsive image" width="200px" height="200px">
                    <div class="card-body text-center">
                        <h3 class="card-title" th:text="${personage.name}"></h3>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="btn btn-success" th:href="@{characters/description/{id}(id=${personage.id})}">Description</a>
                            <a type="button" class="btn btn-secondary" th:href="@{characters/edit/{id}(id=${personage.id})}">Edit</a>
                            <a type="button" class="btn btn-danger" th:href="@{characters/delete/{id}(id=${personage.id})}">Delete</a>
                        </div>




                    </div>
                </div>
            </div>
        </div>




    </div>
    <p><a class="btn btn-secondary" href="#" th:href="@{/characters/formCharact}">Crear Personage - Register</a></p>
</div>

</body>
</html>