<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>characters</title>

  <!-- Bootstrap CSS -->
  <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">

  <!--Css propio-->
  <link rel="stylesheet" type="text/css" href="static/css/gender.css" th:href="@{/css/gender.css}">
</head>
<body>
<div class="container">
  <br>
  <div>
  </div>
  <h2 th:if="${list.isEmpty()}">no hay personajes</h2>
  <div th:if="${!list.isEmpty()}">
    <h2>characters</h2>

    <div class="row row-cols-1 row-cols-md-4" >
      <div class="col mb-4" th:each="gender : ${list}">
        <div class="card">
          <img class="img-thumbnail rounded float-left"  th:src="@{'/img/gender/' + ${gender.image}}" alt="Responsive image" width="400px" height="600px">
          <div class="card-body text-center">
            <h3 class="card-tittle" th:text="${gender.name}"></h3>
          </div>
          </div>
        </div>
      </div>
    </div>


      </div>
  <p><a class="btn btn-secondary" href="#" th:href="@{/characters/formCharact}">Crear Personage - Register</a></p>
</div>

</body>
</html>