<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>characters</title>

  <!-- Bootstrap CSS -->
  <link href="../static/css/bootstrap.css" rel="stylesheet"
        th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="container">
  <br>
  <div>
  </div>
  <h2 th:if="${list.isEmpty()}">no hay personajes</h2>
  <div th:if="${!list.isEmpty()}">
    <h2>characters</h2>

    <table class="table">
      <thead>

      <tr>
        <th>name</th>
        <th></th>
        <th></th>

      </tr>
      </thead>
      <tbody>
      <tr th:each="gender : ${list}">
        <td>
          <div class="row">
            <div class="col-md-7">
              <!-- src="'img'/'personage'/ + ${pesonage.image}" -->
              <img class="img-thumbnail rounded float-left"  th:src="@{'/img/gender/' + ${gender.image}}" alt="Responsive image" width="400px" height="600px">
            </div>
          </div>
        </td>
        <div class="col-12 forgot">
          <!--href="${personage.id}" -->
          <!--con el th:href llamo al metodo que cumplira con la funcion de editar a mi personaje, el "th:text" lo estoy utilizando para que me muestre
          el nombre del "personaje", y para que lo muestre llamo al nombre con "personage.name"

          -->
          <td> <a th:href="@{gender/edit/{id}(id=${gender.id})}" th:text="${gender.name}">  </a>
        </div>

        <td></td>

        <td><a></a></td>
      </tr>

      </tbody>

    </table>
  </div>
  <p><a class="btn btn-secondary" href="#" th:href="@{/characters/formCharact}">Crear Personage - Register</a></p>
</div>

</body>
</html>