<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hello World!</title>

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">

    <!--Css propio-->
    <link rel="stylesheet" type="text/css" href="static/css/home.css" th:href="@{/css/home.css}">


</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<h2><a th:href="@{/characters}"> characters</a>
    <a th:href="@{/movies}">movies</a>
    <a th:href="@{/gender}">gender</a>
</h2>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Cerrar Sesion"/>
</form>


<!--<h1><a th:href="@{/admin/matterEdit}"> admin</a> | <a th:href="@{/student/matter}"> student</a></h1>-->
</body>
</html>