<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>movies</title>

  <!-- Bootstrap CSS -->
  <link href="../static/css/bootstrap.css" rel="stylesheet"
        th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="container">
  <br>
  <div>
  </div>
  <h2 th:if="${list.isEmpty()}">no hay movies</h2>
  <div th:if="${!list.isEmpty()}">
    <h2>movies</h2>

    <div class="row row-cols-1 row-cols-md-4" >
      <div class="col mb-4" th:each="movies : ${list}">
        <div class="card">
          <img class="img-thumbnail rounded mx-auto d-block" th:src="@{'/img/movies/' + ${movies.image}}" alt="Responsive image" width="400px" height="600px">
          <div class="card-body text-center">
            <h3 class="card-tittle" th:text="${movies.title}"></h3>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a class="btn btn-success" th:href="@{movies/description/{id}(id=${movies.id})}">Description</a>
              <a type="button" class="btn btn-secondary" th:href="@{movies/edit/{id}(id=${movies.id})}">Edit</a>
              <a type="button" class="btn btn-danger" th:href="@{movies/delete/{id}(id=${movies.id})}">Delete</a>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
  <p><a class="btn btn-secondary" href="#" th:href="@{/movies/formMovies}">Create Movies</a></p>
</div>

</body>
</html>